body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}

h1{
  font-size: 50px; 
  color: royalblue;
}
.golden-color{
  color: goldenrod;
}
.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 5%;
}
.half-width img{
  width: 100%;
}
p{
  color: blue;
}
.top-banner{
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
section{
  height: 500px;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(249, 121, 70), rgb(175, 31, 6));
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
h2{
  color: purple;
}
h3{
  color: purple;
}
.mid-banner{
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.ex-area{
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}
.s-e{
  box-shadow: 10px 10px 40px gray;
  border-radius: 12px;
  height: 50% ; 
}
#full-stake{
  border-image: linear-gradient(180deg lightsalmon tomato);
  border-image-slice: 1;
}
#intern{
  border-image: linear-gradient(180deg blue cyan);
  border-image-slice: 1;
}
footer{
  color: black;
  align-content: center;
  text-align: end;
}